<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="daibitx.ms" value="https://www.nfeed.site/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>
	<disabledPackageSources>
		<add key="Microsoft Visual Studio Offline Packages" value="true" />
	</disabledPackageSources>
	<config>
		<add key="disableTLSCertificateVerification" value="true" />
	</config>
</configuration>